.square {
	border-radius: 0px;
}

.jumbotron {
	height: auto;
	padding-top: 65px;
	padding-bottom: 65px;
	background-image: linear-gradient(to right, #007bff, #000);
	color: #fff;
}

.register-btn,
.login-btn,
.gen-btn {
	width: 100%;
}

.pointer {
	cursor: pointer;
}
